body {
    background-color: #181D31;
    margin: 0%;
    font-family: sans-serif;
    max-width: 100%;
}

#titulo_principal {
    background-image: url(../imagenes/codigo.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    margin-left: 45px;
    margin-right: 45px;
    height: 85px;
}

h1 {
    display: block;
    color: #EEEEEE;
    font-size: 60px;
    font-weight: 700px;
    padding-top: 180px;
    padding-bottom: 180px;
    text-align: center;
    text-shadow: gray 2px 2px ,black 6px 6px;
}

.menu_principal {
    display: flex;
    justify-content: space-between;
}

#menu {
    align-items: center;
}

#menu_botones {
    width: 15%;
    margin: 25px 25px;
}

.boton_menu {
    color: #181D31;
    background-color: #E6DDC4;
    padding: 10px 10px;
    font-size: 16px;
    border: #E6DDC4;
    font-weight: 100;
    margin: 0px 10px;
}

.logo_animado {
    animation: animacion_logo 750ms;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.logo_fondo {
    animation-delay: 1s;
}

.logo_relleno {
    animation-delay: 1750ms;
}

@keyframes animacion_logo {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

#contenedor {
    display: flex;
    width: 100%;
    padding: 100px 0px;
}

.subtitulo, #subtitulo {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0%;
    color: #678983;
    font-size: 40px;
    font-weight: 700;
    text-shadow: rgb(0, 0, 0) 2px 2px 0px;
}

#logo {
    width: 110px;
    height: 80px;
}

#logo_inferior_y_texto {
    color: #181D31;
    height: 60px;
    width: 280px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#titulo_programacion {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
    width: 120px;
    height: 50px;
}

#contenedor_inf {
    background-color: #678983;
    height: 100px;
    align-items: center;
    padding: 40px 40px 40px 40px;
}

.boton_pulsable {
    text-decoration: none;
    border-radius: 10px;
    box-shadow: #678983 2px 3px;
}

.boton_pulsable:hover {
    cursor: pointer;
}

.boton_pulsable:active {
    box-shadow: none;
    translate: 2px 3px;
}
