#contenedor {
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px 50px;
    gap: 25px;
}

.subtitulo {
    align-items: center;
}

.subtitulo_alt {
    white-space: nowrap;
}

#primeros_leng {
    width: 20%;
}

#primeros_leng_texto {
    width: 75%;
}

.texto_info {
    display: flex;
    color: beige;
    margin: 25px 50px 25px 0px;
    width: 45%;
}

#video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}

video {
    width: 70vw;
}

#contenedor_video {
    background-color: black;
    display: flex;
    flex-direction: column;
}

#herramientas_reproductor {
    background-color: rgb(44, 44, 44);
    border: black solid 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    height: 50px;
}

#botones_reproductor {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    width: 14%;
}

#duracion {
    color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    width: 15%;
}

#duracion_video {
    margin-right: 15px;
}

.boton_reproductor {
    margin-top: 5px;
    background-color: #E6DDC4;
    width: 40%;
    height: 80%;
}