body {
    background-color: #181D31;
    margin: 0%;
    font-family: sans-serif;
    max-width: 100%;
}

#titulo_principal {
    background-image: url(../imagenes/codigo.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    margin-left: 45px;
    margin-right: 45px;
    height: 85px;
}

h1 {
    display: block;
    color: #EEEEEE;
    font-size: 60px;
    font-weight: 700px;
    padding-top: 180px;
    padding-bottom: 180px;
    text-align: center;
    text-shadow: gray 2px 2px ,black 6px 6px;
}

#menu {
    background-color: #181D31;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu_botones {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin: 25px 25px;
}

.boton_menu {
    color: #181D31;
    background-color: #E6DDC4;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 16px;
    border: #E6DDC4;
    box-shadow: #678983 2px 2px;
    font-weight: 100;
    margin: 0px 10px;
}

.boton_menu:hover {
    cursor: pointer;
}

#contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 100px 0px;
}

#subtitulo {
    display: block;
    text-align: center;
    margin: 0%;
    color: #678983;
    font-size: 40px;
    font-weight: 700;
    text-shadow: rgb(0, 0, 0) 2px 2px 0px;
}

#boton_reiniciar {
    color: #181D31;
    background-color: #E6DDC4;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 14px;
    border: #181D31 2px solid;
    box-shadow: #678983 4px 4px;
    font-weight: 100;
    margin: 100px 10px;
    width: 15%;
}